.DS_Store
.vscode/
*/__pycache__/*
05_src/data/adult/*
05_src/data/artifacts/*
05_src/data/credit/*
05_src/data/adult/*
05_src/data/features/*
05_src/data/prices/*
05_src/data/temp/*
05_src/data/zipped/*
05_src/db/postgres_data/*
07_logs/*
**/07_logs/*
