.DS_Store*
04-data/adult/*
04-data/artifacts/*
04-data/credit/*
04-data/adult/*
04-data/features/*
04-data/prices/*
04-data/temp/*
04-data/zipped/*
07-logs/*
05-src/db/postgres-data/*
05-src/__pycache__/*
